<section class="bg-[#161722] w-[80%] flex flex-col items-center mx-auto p-[30px]">
    <h2 class="font-bold text-[50px] pb-[10px]">Contactame</h2>
    <div class="w-[400px] h-[80px] rounded-2xl border-2 bg-gradient-to-r from-[#010e0c] from-0% via-[#0b1d1a] via-100%">
        <div class="flex flex-row m-2">
            <img class="w-[25px]" src="correo.png" alt="">
            <h3 class="ml-2 text-slate-300 font-[arial]">CAMPANELLAGUSTIN@HOTMAIL.COM</h3>
        </div>
        <div class="flex flex-row m-2">
            <img class="w-[25px]" src="tel.png" alt="">
            <h3 class="ml-2 text-slate-300 font-[arial]">+54 9 3624515128</h3>
        </div>
    </div>
</section>
