---
import Card from "../Card.astro"
---

<section class="flex flex-col sm:flex-row items-center justify-center sm:justify-start gap-6 p-4 mt-[15%]">
    <Card title = "Agustin Campanella", text="Programador Universitario"/>
  <img
    class="w-[35%] max-w-xs border-4 rounded-full absolute right-0 mr-[20%]"
    src="profile.webp"
    alt="Foto de perfil de Agustín Campanella"
  />
</section>
