---
const {title, text} = Astro.props
---

<div class="font-[sans-serif] font-bold text-[#FFF] ml-[10%]">
    <h1 class="text-6xl" >{title}</h1>
    <p class="text-4xl flex justify-center">{text}</p>
</div>